name: Tests

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

    paths-ignore:
      - "README.md"

jobs:
  test:
    if: github.event_name == 'workflow_dispatch' || startsWith(github.head_ref, 'feat')
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Set Up Node.js
        uses: actions/checkout@v4
        with:
          node-version: 20

      - name: Setup pnpm
        run: npm install -g pnpm

      - name: Instal Depedencies
        run: pnpm install

      - name: Unit Test
        run: pnpm test
